<a class="dropdown-item" href="admin/articles">Articles</a>
<a class="dropdown-item" href="admin/categories">Categories</a>
<a class="dropdown-item" href="admin/fileupload">FileUpload</a>

<hr />
@code {

}
