@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="offcanvas bg-offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <button @onclick="GoToHome" class="btn btn-outline-light btn-dark home-button">
            BlogAntNet
        </button>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @foreach (var category in CategoryService.ListCategorySiteMenuDtos)
        {
            <ul class="list-unstyled m-0 p-0">
                @if (category.Articles.Count > 0)
                {
                    <li class="pt-3">
                        <strong>
                            @category.Name
                        </strong>
                        <ul class="list-unstyled ms-2 fw-normal pb-1 small">
                            @foreach (var article in category.Articles)
                            {
                                <li>
                                    <NavLink class="nav-link" href="@($"singlearticle/{article.Url}")">
                                        @article.NameForMenu
                                    </NavLink>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        }


        @*<div class="offcanvas-body">
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>*@
    </div>
</div>

@code{

    protected override void OnInitialized()
    {
        CategoryService.GetSiteMenuCategories();
        CategoryService.CategorySiteMenuChange += StateHasChanged;
    }
    public void Dispose()
    {
        CategoryService.CategorySiteMenuChange -= StateHasChanged;
    }
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
