<div class="input-group">
    <input type="search" placeholder="Search ..." class="form-control"/>
    <div class="input-group-append">
        <button class="btn btn-primary">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>
