@page "/admin/articles"
@inject IArticleService ArticleService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h1>Edit Articles</h1>
<p>
    <button class="btn btn-dark" @onclick="CreateArticle">
        <i class="oi oi-pencil"></i> Add new Article
    </button>
</p>

@foreach (var article in ListAdminArticles)
{
    <div class="card mb-2">
        <div class="card-body">
            <a href="/admin/editarticle/@article.Id" class="link-dark"><h5 class="card-title">@article.Title</h5></a> 
            <small>@article.DateCreated</small>
            <p>
                @article.Description
            </p>
        </div>
    </div>
}


@code {
    List<ArticleDto> ListAdminArticles = new List<ArticleDto>();

    protected override async Task OnInitializedAsync()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var response = await ArticleService.AdminGetAllArticle();
        if (response != null && response.Data != null)
            ListAdminArticles = response.Data;
    }

    void EditArticle(int articleId)
    {
        NavigationManager.NavigateTo($"admin/editarticle/{articleId}");
    }

    void CreateArticle()
    {
        NavigationManager.NavigateTo($"admin/editarticle");
    }
}
