@page "/"
@inject IArticleService ArticleService



@foreach (var article in Articles)
{
    <div class="card mb-2">
        <div class="card-body">
            <a href="@article.Url" class="link-dark"><h5 class="card-title">@article.Title</h5></a>
            <small>@article.DateCreated</small>
            <p>
                @article.Description
            </p>
        </div>
    </div>
}





@code{

    List<ArticleDto> Articles = new List<ArticleDto>();


    protected override async Task OnInitializedAsync()
    {
        var response = await ArticleService.GetAllArticle();
        if (response != null && response.Data != null)
            Articles = response.Data;
    }
}
