@page "/singlearticle/{url}"
@inject IArticleService ArticleService

<h3>@_article.Title</h3>


<div class="my-2">
    @_article.Description
</div>
<div class="my-2">
    @((MarkupString)_article.Content)
</div>


@code {
    [Parameter]
    public string Url { get; set; } = string.Empty;

    ArticleDto _article = new ArticleDto();

    protected override async Task OnParametersSetAsync()
    {
        var response = await ArticleService.GetArticleByUrl(Url);
        if (response != null && response.Data != null)
            _article = response.Data;
    }
}
